<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.yungov.module.impl.system.dao.SysUserMapper">

    <resultMap id="BaseResultMap" type="cn.com.zerobug.module.impl.system.domain.dataobject.SysUserDO">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="dept_id" property="deptId"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="gender" property="gender"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        nickname,dept_id,email,
        mobile,gender,avatar,
        status,create_by,create_time,
        update_by,update_time,
        is_delete,tenant_id
    </sql>
</mapper>
